<title>Google reCPATCHA Implementation</title>
<title>Google reCPATCHA Implementation</title>
<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">User Registration</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-5">
          <label>User Name</label>
          <input type="text" formControlName="UserName" class="form-control" />
        </div>
        <div class="form-group col-5">
          <label>User Email Address</label>
          <input type="text" formControlName="UserEmailId" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" />
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
      </div>
      <div *ngIf="tokenVisible"> reCAPTCHA Token <br />
        <p style="color:
red">{{reCAPTCHAToken}}</p>
      </div>
    </form>
  </div>
</div>
